# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pyz
*.pyzw

# Environments
.env
.venv/
env/
venv/
ENV/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# Windows
Thumbs.db